.header-title{
	color: #ECEBEB !important;
	margin-left: 200px;
	letter-spacing: 1em;
	display: inline-block;
}
.recommand{
	text-align: center;
}
.book-list{
	width: 100%;
}
.book-name{
	text-align: center;
}
.book-img{
	margin-top: 30px;
}
.book-intro{
	padding: 0 10px;
	word-wrap: break-word;
	overflow: hidden;
	text-indent: 2em;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	height: 58px;
}
.chase-btn{
	margin: 0 auto;
}
.btn-wrap{
	text-align: center;
}