<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Bookshops</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>userLogin</servlet-name>
  	<servlet-class>com.controller.user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userLogin</servlet-name>
  	<url-pattern>/user/UserLoginServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>userSignUp</servlet-name>
  	<servlet-class>com.controller.user.UserSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userSignUp</servlet-name>
  	<url-pattern>/user/UserSignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>getUserMsg</servlet-name>
  	<servlet-class>com.controller.user.GetUserMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getUserMsg</servlet-name>
  	<url-pattern>/user/UserMsg</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>userUpData</servlet-name>
  	<servlet-class>com.controller.user.UserUpDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userUpData</servlet-name>
  	<url-pattern>/user/UserUpData</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>bookAdd</servlet-name>
  	<servlet-class>com.controller.book.BookAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bookAdd</servlet-name>
  	<url-pattern>/book/BookAdd</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>bookDelete</servlet-name>
  	<servlet-class>com.controller.book.BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bookDelete</servlet-name>
  	<url-pattern>/book/BookDelete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>getAllBookMsg</servlet-name>
  	<servlet-class>com.controller.book.GetAllBookMsg</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getAllBookMsg</servlet-name>
  	<url-pattern>/book/GetAllBookMsg</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>getSomeBookMsg</servlet-name>
  	<servlet-class>com.controller.book.GetSomeBookMsg</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getSomeBookMsg</servlet-name>
  	<url-pattern>/book/GetSomeBookMsg</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>bookUpdate</servlet-name>
  	<servlet-class>com.controller.book.BookUpDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bookUpdate</servlet-name>
  	<url-pattern>/book/BookUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>addOrder</servlet-name>
  	<servlet-class>com.controller.order.BuyBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addOrder</servlet-name>
  	<url-pattern>/order/AddOrder</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>payForOrder</servlet-name>
  	<servlet-class>com.controller.order.PayForBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>payForOrder</servlet-name>
  	<url-pattern>/order/PayForOrder</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>getOrder</servlet-name>
  	<servlet-class>com.controller.order.GetUserOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getOrder</servlet-name>
  	<url-pattern>/order/getOrder</url-pattern>
  </servlet-mapping>
</web-app>